<div class="container py-5" style="position: absolute;">
  <div class="col">
    <div class="text-center">
      <h5 class="card-title mb-2" style="color: rgb(254, 119, 8); font-weight:bolder;">URL Shortener</h5>
      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        class="card-img-top" alt="img" style="width: 8em; margin:auto ">
      <div class="card-body mt-3">
        <form action="" class="text-center">
          <input type="text" class="mb-3" placeholder="請輸入網址..." style="display: block; margin: auto;">
          <button type="submit" class="btn btn-outline-primary">Shorten</button>
        </form>
      </div>
    </div>
  </div>
</div>