<div class="container py-5" style="position: absolute;">
  <div class="col">
    <div class="text-center">
      <h5 class="card-title mb-2" style="color: rgb(254, 119, 8); font-weight:bolder;">URL Shortener</h5>
      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        class="card-img-top" alt="img" style="width: 5em; margin:auto ">
      <div class="card-body mt-3">
        {{#with url}}
        <p class="d-inline-block">成功縮短網址! 請使用下列連結進入:</p>
        <a href="{{ this.originLink }}">
          <p id="shortenLink">{{ this.shortenLink }}</p>
        </a>
        {{/with}}
      </div>
      <div class="card-bottom mt-2">
        <button type="button" class="btn btn-primary btn-sm" id="copy">COPY</button>
      </div>
    </div>
  </div>
</div>